.well
  %legend
    %h1
      Welcome
      %small to Roorkee Institute of Technology
  Roorkee Institute of Technology (RIT) founded in 2005, is a self financed engineering and management  institute managed and run by the Himalayan Charitable Trust, Roorkee.  Roorkee town has the genesis of engineering education right  from the British period and  has the  honour of having the first engineering college of Asia, the Thomson College of Engineering, which ultimately became University of Roorkee and now IIT-R.  In the present, Roorkee city hosts the marvels of Indian  Engineering Excellence. Indian Institute of Technology (IIT-R), Central Building Research Institute(CBRI), Irrigation Research Institute (IRI).
