.jumbotron
  %h1.text-center Intra-collegiate events
.row.text-center
  .col-lg-3
    .well
      %legend
        %h2
          Quiz
      %p
        %strong Date & Time:
        %br/
        April 1, 2015, 10:00 AM to 1:00 PM
      %p
        %strong Venue:
        %br/
        Seminar Hall, A-Block

  .col-lg-3
    .well
      %legend
        %h2
          Debate
      %p
        %strong Date & Time:
        %br/
        April 2, 2015, 2:00 PM to 4:00 PM
      %p
        %strong Venue:
        %br/
        Seminar Hall, A-Block
      %p
        %strong Topic:
        %br/
        Make in India, or make for India?

  .col-lg-3
    .well
      %legend
        %h2
          Masterchef without cooking
      %p
        %strong Date & Time:
        %br/
        April 1, 2015, 11:00 AM to 12:00 PM
      %p
        %strong Venue:
        %br/
        Near Canteen

  .col-lg-3
    .well
      %legend
        %h2
          Typing Master
      %p
        %strong Date & Time:
        %br/
        April 1, 2015, 3:00 PM to 4:00 PM
      %p
        %strong Venue:
        %br/
        B-26 Lab

.row.text-center
  .col-lg-4
    .well
      %legend
        %h2
          Coding
      %p
        %strong Date & Time:
        %br/
        April 2, 2015, 10:00 AM to 11:00 AM
      %p
        %strong Venue:
        %br/
        B-26 Lab

  .col-lg-4
    .well
      %legend
        %h2
          Sketch
      %p
        %strong Date & Time:
        %br/
        April 2, 2015, 11:00 AM to 12:00 PM
      %p
        %strong Venue:
        %br/
        Engineering Drawing Lab
      %p
        %strong Topic:
        %br/
        Festivals of India

  .col-lg-4
    .well
      %legend
        %h2
          Kite Making
      %p
        %strong Date & Time:
        %br/
        April 2, 2015, 12:00 PM to 1:00 PM
      %p
        %strong Venue:
        %br/
        Ground Floor, B-block
      %p
        %strong Topic:
        %br/
        Festivals of India

.row.text-center
  .col-lg-3
    .well
      %legend
        %h2
          Lyricist
      %p
        %strong Date & Time:
        %br/
        April 1, 2015, 2:00 PM to 4:00 PM
      %p
        %strong Venue:
        %br/
        Seminar Hall, A-Block

  .col-lg-3
    .well
      %legend
        %h2
          RITian Street
      %p
        %strong Date & Time:
        %br/
        April 2, 2015, 3:00 PM to 4:30 PM
      %p
        %strong Venue:
        %br/
        Ground Floor, B-Block

  .col-lg-3
    .well
      %legend
        %h2
          Selfie/Groupie
      %p
        %strong Date & Time:
        %br/
        April 1, 2015, 9:30 AM to 3:30 PM
        %br/
        April 2, 2015, 9:30 AM to 3:30 PM
      %p
        %strong Venue:
        %br/
        Online

  .col-lg-3
    .well
      %legend
        %h2
          Jugaadu Engineer
      %p
        %strong Date & Time:
        %br/
        April 1, 2015, 2:00 PM to 3:00 PM
      %p
        %strong Venue:
        %br/
        In front of the library
