.jumbotron
  %h1
    Junoon
    %small Fusion of bands
    
  %p Music is the universal language that allows all people to communicate with each other. Hence we have a contest where bands compete for the title of the “Best Troop”.
  
  %h2 Rules & Regulations
  
  %ul
    %li
      %strong A Maximum of 8 members are allowed in a team.
    %li
      %strong 
        Entry fees of Rs. 1500/- per team.
        %br/
        If the team has more than 5 members, then the entry fees would be Rs. 300/- per member.
    %li
      %strong Time limit:
      30 minutes (including sound check).
    %li Participants would have to bring their own instruments.
    %li Negative points for exceeding the time limit.
    %li Judgement will be made on the basis of instrument handling and innovation.
    %li Decision of the Judges will be final.
  
  %blockquote
    FOR FURTHER DETAILS CONTACT THE UNDERSIGNED
    .text-left
      %strong Sanjay Pant
      +918267831287
    .text-left
      %strong Mehtab Ali
      +918395056973
