.jumbotron
  %h1
    Kavyanjali
    %small Poetry Meet
    
  %blockquote
    %p
      Raise your words, not the voice.
      %br/
      It is the rain which grows the flower, not the thunder.
  
  %h2 Rules and Regulations

  %ul
    %li 
      %strong Only one Entry per person.
    %li
      %strong Entry fees will be 100/- per participant.
    %li Poems can be both in Hindi/English.
    %li All work must be original and unaided.
    
  %blockquote
    FOR FURTHER DETAILS CONTACT THE UNDERSIGNED
    .text-left
      %strong Vivek Pal
      +919690460701
    .text-left
      %strong Aadil Firoze
      +918266806486
