.jumbotron
  %h1
    Varnam 
    %small Short Movie Making Competition
    
  %p Filmmaking, like any other art, is a very profound means of human communication. Beyond the professional pleasure of succeeding or the pain of failing, you do want your film to be seen to communicate itself to other people.
  
  %h2 Rules and Regulations
  
  %ul
    %li
      %strong Maximum 6 members in a team (including cast & crew).
    %li
      %strong Entry fees will be 500/- per team.
    %li Director or Co-Director will represent the team.
    %li
      Film should be in
      %strong .wmv
      format a maximum of
      %strong 720p
      and not less than
      %strong 240p.
    %li Abusive, adult or religious content are strictly prohibited.
    %li Film should not be older than 3 months (Date should be mentioned visually at the start of the film).
    %li Length of the film should not exceed the duration of 15 minutes including the titles and texts.
    %li Film should either be in Hindi, English or a mime.
    %li Film should not be a documentary.
    
  %blockquote
    FOR FURTHER DETAILS CONTACT THE UNDERSIGNED
    .text-left
      %strong Shishir Raj Singh
      +918979885445
    .text-left
      %strong Madhukant Mukherjee
      +919045371872

