.jumbotron
  %h1
    Inventar
    %small Technical Projects Exhibition
    
  %p Exhibition means to show cast your talent. Here talent should be related to the technical model.
  
  %h2 Rules and Regulations
  
  %ul
    %li
      %strong Maximum of 3 members in a team.
    %li
      %strong Entry fees will be 500/- per team.
    %li The team participating here has to bring the working model of any project and have to describe their project.
    %li Participants need to carry their identity cards.
    %li The best working model will be chosen.
    %li Winner will be declared as per the new innovation.
    
  %blockquote
    FOR FURTHER DETAILS CONTACT THE UNDERSIGNED
    .text-left
      %strong Prashant Dwivedi
      +919452037685
    .text-left
      %strong Aadil Firoze
      +918266806486
